/***** element selectors *****/
body {
  background-color: rgb(255, 251, 254);
  font-family: 'Montserrat', sans-serif;
}

section {
  margin: 30px 30px;
}

header {
  background-color: rgb(196, 121, 174);
  margin: 10px 10px;
}

footer {
  font-style: italic;
  margin: 25px 20px;
}


/***** ID selectors *****/
#my-aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  float: right;
  font-style: italic;
  background-color: rgb(145, 178, 210);
  color:rgb(65, 66, 68)
}


/***** class selectors *****/
.myimage {
  float: right;
  display: block;
  margin: 20px 10px;
  width: 20%;
}
/* floating image in section with the clearfix hack */
.clearfix {
  overflow: auto;
}

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
